.pagination {
	margin: 0 32px 0 24px;
}

.pagination-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 59px;
	font-size: 12px;
}

.pagination-icons > button:last-of-type {
	margin-left: 1em;
}

.pagination-exibition-itens {
	width: 125px;
	display: flex;
	align-items: center;
}

.pagination-exibition-itens-select {
	font-size: 12px;
	margin-left: 34px !important;
}